# Autentikasi / JWT
SECRET_KEY=ubah_dengan_secret_key_yang_aman_dan_acak
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=email_gmail_anda@gmail.com
SMTP_PASSWORD=16_digit_app_password_dari_google
FRONTEND_URL=http://localhost:3000

# Konfigurasi Database MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_DATABASE=db_tarteel_space
DB_CHARSET=utf8mb4

# Path ke Model AI dan File Pendukung
MODEL_PATH=./model/hijaiyah_model_final.keras
LABEL_MAP_PATH=./model/label_mapping.json
NORM_MEAN_PATH=./model/norm_mean.npy
NORM_STD_PATH=./model/norm_std.npy

# Penyimpanan File Sementara
UPLOAD_DIR=./uploads/audio
AUDIO_DIR=./audio

# Konfigurasi Audio / ML (Sebaiknya tidak diubah karena mengikuti saat training)
SAMPLE_RATE=22050
DURATION=2.0
N_MFCC=40
N_FFT=2048
HOP_LEN=512
THRESHOLD=70.0
TEMPERATURE=2.0
